*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/libraries/SBT__info_cukes_cucumber_core_1_2_4_jar.xml
.idea/libraries/SBT__info_cukes_cucumber_html_0_2_3_jar.xml
.idea/libraries/SBT__info_cukes_cucumber_junit_1_2_4_jar.xml
.idea/libraries/SBT__info_cukes_cucumber_jvm_deps_1_0_5_jar.xml
.idea/libraries/SBT__info_cukes_cucumber_scala_2_11_1_2_4_jar.xml
.idea/libraries/SBT__info_cukes_gherkin_2_12_2_jar.xml
.idea/libraries/SBT__junit_junit_4_12_jar.xml
.idea/libraries/SBT__log4j_log4j_1_2_13_jar.xml
.idea/libraries/SBT__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/SBT__org_slf4j_slf4j_api_1_2_jar.xml
.idea/libraries/SBT__org_slf4j_slf4j_log4j12_1_2_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/cukescalasbt.iml
.idea/sbt.xml
.idea/vcs.xml
.idea/workspace.xml

